html {
    margin-top: 355px;
    background-color: #23b499;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.block {
    font-size: 1.2rem;
    text-align: center;
    padding: 12px 15px;
    background-color: indianred;
    float: left;
    width: 185px;
    height: 230px;
    margin: 10px;
    border-radius: 10px;
    font-family: Geneva, Arial, Helvetica, sans-serif;
}

.method {
    width: 100%;
    float: left;
}

.event-loop {
    float: right;
    margin-top: -230px;
    margin-right: 76px;
    padding: 11px;
    font-size: 18px;
    outline: none;
    border: 1px;
}

.submit {
    float: right;
    margin-top: -152px;
    margin-right: 73px;
    width: 239px;
    padding: 10px;
    border: 2px solid;
    font-size: 16px;
}

.submit2 {
    float: left;
    margin-left: 100px;
    width: 115px;
    font-size: 18px;
    background-color: palevioletred;
    border: 2px;
    padding: 4px;
    border-radius: 20px;
    display: none;
}


nav {
    float: left;
    width: 100%;
}
.title {
    margin: 25px;
}

.qnt {
    margin: 25px;
}
.price {
    margin: 20px;
}

.pagination {
    list-style-type: none
}
ul {
    margin: 0;
    padding: 10px;
}
li {
    margin: 50px 5px 50px 0;
    float: left;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border: 4px solid #ddd;
    list-style-type: none;
}

.test {
    font-size: 20px;
    width: 100%;
    float: left;
    color: blueviolet;
    text-align: center;
}